.list {
  min-width: 300px;
  max-width: 400px;
  min-height: 400px;
  margin: 8px;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
}

.header_title {
  font-size: 22px;
  /* width: calc(100% - 10px); */
}

.addTaskBtn {
  border: none;
  cursor: pointer;
  background-color: var(--accent-color-2);
  padding: 0 3px;
}

input {
  padding: 5px;
  border: none;
  outline: 0;
}

.del-list-btn {
  border: none;
  cursor: pointer;
  transition: var( --main-trans-time)
}

.del-list-btn:hover {
  filter: invert(45%) sepia(26%) saturate(1212%) hue-rotate(238deg) brightness(88%) contrast(86%);
}

.del-list-btn-icon {
  vertical-align: text-bottom;
  filter: invert(98%) sepia(6%) saturate(94%) hue-rotate(140deg) brightness(96%) contrast(97%);
}