.list {
  min-width: 300px;
  max-width: 400px;
  min-height: 400px;
  margin: 8px;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
}

.header_title {
  font-size: 22px;
  width: calc(100% - 10px);
}

.addTaskBtn {
  border: none;
  cursor: pointer;
  background-color: var(--accent-color-2);
  padding: 0 3px;
}

input {
  padding: 5px;
  border: none;
  outline: 0;
}